.Home {
  height: 100vh;
  min-height: 100vh;

  &__Heading {
    height: 200px;
    color: #fff;

    .content {
      height: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__Balance {
    margin-top: -70px;
  }
}
