.Home {
  min-height: 100vh;

  &__Heading {
    height: 200px;
    color: #fff;
    position: sticky;
    top: 0;

    .content {
      height: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__Activity {
    margin-top: -70px;
    position: sticky;
    top: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1em;

    &__Balance {
      &__Info {
        display: flex;
        justify-content: center;
        align-items: center;

        .circle {
          --size: 0.7em;

          display: block;
          width: var(--size);
          height: var(--size);
          border-radius: 50%;
          margin-right: 0.8em;

          &.expense {
            background-color: #f76464;
          }

          &.income {
            background-color: var(--primary);
          }
        }

        .text {
          overflow: hidden;

          p {
            color: var(--text-secondary);
            font-size: 0.8em;
          }

          h3 {
            font-weight: 400;
            font-size: 1.3em;
          }
        }
      }
    }
  }

  .Home__PaymentHistoryList {
    .List__Item {
      position: sticky;
      top: 10em;
    }
  }
}
