.Home {
  min-height: 100vh;

  &__Heading {
    height: 200px;
    color: #fff;
    position: sticky;
    top: 0;

    .content {
      height: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__Activity {
    margin-top: -70px;
    position: sticky;
    top: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Home__PaymentHistoryList {
    .List__Item {
      position: sticky;
      top: 10em;
    }
  }
}
