.ActivityButton {
  border: none;
  padding: 1em 1em 0.5em 1em;
  background-color: #fff;
  color: var(--text-secondary);
  border-radius: 10px;
  font-size: 0.8em;
  outline: none;

  opacity: 1;
  &:active {
    opacity: 0.8;
  }

  label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: var(--background);
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 0.3em;

    svg {
      font-size: 1.5em;
    }
  }
}
